.acueil-content{
    position: fixed;
    margin-left: 10%;
}
.card{
    background-color: #8751C8 !important;
    width: 5px !important;
    height: 100px;
    margin: 25px;
    text-align: center;
    cursor: pointer;
}
h1{
    color: #8751C8;
}



