.h1{
    text-align: center;
    color: #8551C8 !important;
}
.formulairedajout{
    margin-left: 10%!important;
}
.boutonAjout{
    background-color: #8551C8 !important;
    border-radius: 5px;
    color: white;   
}
.boutonAnnuler{
    background-color: #8551C8 !important;
    border-radius: 5px;
    color: white;
}