body{
    background-color: #8551C8;
    height: 100vh !important;
    margin: auto;
    padding: 0;

}
img{
    width: 100%;
    height: 450px;
    margin: auto;
}
form{
    margin: 50px auto;
    width: 100%;
}
.login-section{
    box-shadow: 0px 0px 10px #000;
    width: 85%;
    margin: 0 auto;
}
.img-login{
    width: 107%;
    margin-left: -2%;
    height: 539px;
}
.boutonConnexion{
    background-color: #8551C8;
}

@media screen and (max-width: 660px) {
    .image {
      display: none;
    }
  }

