
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    position: fixed;
    background-color: #fff;
    padding: 15px;
    width: 75%;
    margin-left: 20%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.bouton_menu h3{
    color: #000;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900px;
}
.bouton_menu span{
    color: #1DC4E7;
}
.bouton_deconnexion{
    padding: 5px;
    background: #7851C8;
    text-decoration: none;
    float: right;
    margin-bottom: 20px;
    margin-right: 40px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: bacground;
    position: relative;
    bottom: 24.12px;
}
.bouton_deconnexion:hover{
    background: #0D9DBB;
}
.general{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar{
    background: #790FFF;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%; 
    transition: 0.5s;
    transition-property: left;
}
.sidebar .logo{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}
.sidebar h4{
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
}
.sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background; 
}
.dropdown-menu{
    background-color: #0D9DBB;
}
.dropdown-menu a:hover{
    background-color: #000;
 
}
.sidebar a:hover{
    background: #19B3D3;
}
.sidebar i{
    padding-right: 10px;
}
label #sidebar_btn{
    z-index: 1;
    color: #000;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}
label #sidebar_btn:hover{
    color: #19B3D3;
}
#check:checked ~ .sidebar{
    left: -190px; 
}x
#check:checked ~ .sidebar a span{
    display: none;
}
#check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}

