body{
    background-color: #8551C8;
}

.login-section{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.image{
    width: 100%;
    height: 100%;
    
}
input{
    width: 100%;
    height: 100%;
}
